html, boy {
	background-color: #1e1e2e;
	color: #cdd6f4;
	font-family: "Schoolbell", cursive;
	font-weight: 400;
	font-style: normal;
}

*:focus {
	outline: none;
}

input, select {
	cursor: pointer;
}

button {
	padding: 0.5em 1em;
	border-radius: 0.5em;
	cursor: pointer;
}